
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.vehicleNumberContainer {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    background-color:black;
    background-image: linear-gradient(#8a8c8e, #999ea0, #c1c5c8, #f6fafc);
    flex-direction: column;
    margin: auto;
    border: 1px solid red;
}

h3 {
    margin: 20px;
}

.inputBox3 {
    width: 42%;
    height: 8%;
    padding: 20px;
    margin: 50px auto;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
text-transform: uppercase;
letter-spacing: "3px";
}
.inputBox3::placeholder{
    font-weight: bold;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.vehicleBtn {
    margin: auto;
    margin-left: 75%;
    width: 20%;
    height:10%;
    padding: 10px 22px;
    display: flex;
    border: 1px solid #eb890e;
    font-size: 18px;
    font-weight: 400;
    background-image: linear-gradient(#f0971e, #f0e51e);
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}



/* ....................... */
.button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    width: 22%;
    height: 12%;
    font-size: 25px;
    font-weight: 400;
    border: none;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(#f0971e, #f0e51e);
    transition: all 0.2s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.button:active {
    transform: scale(0.96);
}

.button:before,
.button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.button.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, #f0971e 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #f0971e 20%, transparent 30%),
        radial-gradient(circle, #f0971e 20%, transparent 20%),
        radial-gradient(circle, #f0971e 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #f0971e 15%, transparent 20%),
        radial-gradient(circle, #f0971e 20%, transparent 20%),
        radial-gradient(circle, #f0971e 20%, transparent 20%),
        radial-gradient(circle, #f0971e 20%, transparent 20%),
        radial-gradient(circle, #f0971e 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        10% 10%, 18% 18%;
    animation: greentopBubbles ease-in-out 0.6s forwards infinite;
}

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
            40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
            50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.button.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #f0971e 20%, transparent 20%),
        radial-gradient(circle, #f0971e 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #f0971e 15%, transparent 20%),
        radial-gradient(circle, #f0971e 20%, transparent 20%),
        radial-gradient(circle, #f0971e 20%, transparent 20%),
        radial-gradient(circle, #f0971e 20%, transparent 20%),
        radial-gradient(circle, #f0971e 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
